body {
    font-family: 'Poppins', sans-serif;
    background-color: #BCA89F;
    color: #FFFFFF;
    margin: 0; /* Reset default body margin */
}

.form-container {
    display: flex;
    flex-direction: column; /* Change to column layout for mobile */
    align-items: center;
    padding: 20px; /* Adjust padding for smaller screens */
    background-color: #bca89f;
    height: 100vh; /* Full viewport height */
}

.headertitle h2{
    color:#5B3E31;
    text-align: center; /* Center align text */
}

.login-form {
    background-color: #ffffff;
    padding: 20px; /* Adjust padding for smaller screens */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Poppins;
    width: 90%; /* Set width to 90% of the container */
    max-width: 400px; /* Limit maximum width for smaller screens */
    margin-top: 20px; /* Add space between header and form */
}

.input-container {
    margin-bottom: 20px;
    width: 100%; /* Set width to 100% */
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #5B3E31;
}

.input-container input {
    width: 100%; /* Set width to 100% */
    padding: 10px;
    border: none;
    background-color: #5B3E31;
    color: #FFFFFF;
    border-radius: 5px;
}

.login-form button {
    width: 100%; /* Set width to 100% */
}

.button-container button:hover {
    background-color: #65453A;
}

.error {
    color: red;
}

.icon-input-container {
    position: relative;
}

.icon-input-container input {
    padding-left: 30px; /* Adjust according to icon size */
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust according to icon size */
    transform: translateY(-50%);
}

.avatar-icon,
.key-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px; /* Adjust icon position */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
}

.Sign-up {
    color: #5B3E31;
    text-align: center; /* Center align text */
    margin-top: 20px; /* Add space between form and sign-up text */
}
